body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 70px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 200px;
    line-height: 34px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 180px;
    color: darkgrey;
  }
  
  .square:focus {
    outline: none;
  }

  .reset {
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 50px;
  }

  .isX{
    color: #EF476F;
  }

  .isO{
    color: #1B998B;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  